@import "base.css";
@import "credit-card.css";
@import "form.css";

@media (max-width: 420px) {
  :root {
    font-size: 50%;
  }

  body {
    background: #202024;
  }

  #app {
    background: none;
    border: none;
  }

  .cc-bg svg {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 780px) {
  #app {
    grid-template-areas:
      "A B"
      "C B";

    width: fit-content;
    max-width: fit-content;
    padding-inline: 4.8rem;

    grid-template-columns: 0.8fr 1fr;
  }

  #app header {
    grid-area: A;
  }

  #app section.cc-section {
    grid-area: B;
    align-self: flex-end;
  }

  #app section.cc-section .all-cc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.9rem;
    margin-top: 1.2rem;
  }

  #app form {
    grid-area: C;
  }
}

.toastify {
  background: #9B2C2C;
  box-shadow: 0px 0px 20px -1px rgba(36, 36, 36, 0.5);
}

.toast-close {
  margin-left: .5rem;
}